<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626602930674-puoesctddjujputvdsa6b13u5phrjpgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626602930674-puoesctddjujputvdsa6b13u5phrjpgr</string>
	<key>API_KEY</key>
	<string>AIzaSyBNDuIDt9-fRTKV-l4_8hhbD-jpMKRsOLg</string>
	<key>GCM_SENDER_ID</key>
	<string>626602930674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled5</string>
	<key>PROJECT_ID</key>
	<string>foodordering-85a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodordering-85a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626602930674:ios:bbcd5fd8bb9e944f74bb6b</string>
</dict>
</plist>